/*CSS RESET*/
{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;

}

.navbar {
	background-color: #D0ccd0;
	width: 100%;
	position: fixed;
}

.footer {
	width: 100%;
  background-color: #D0ccd0;
  text-align: center;
}
	
img	{
  height: 600px;
	width: 100px;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}



p {
	font-size: 25;
}

/* body {
	padding-top: 60px;
} */


/* COLOR COMBINATION
#f1f7ed - ISABELLINE
#243e36 - GUNMETAL
#7ca982 -ASPARAGUS
#e0eec6 - PALE SPRING BUD
#c2a83E - BRASS
*/

/* FORM SECTION */

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#map {
	margin-top: 50px;
}

#form .btn {
	text-align: center;
	background-color: #4CAF50;

}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
}	

